<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="Styles/AdminOnStyle.css">
	<script type="text/javascript" src="Scripts/Admining.js"></script>
	<title>Welcome, lads.</title>
</head>
<body>
<div id="all">
<!--
[EN] Send form to the server
[RU] Отправка формы на сервер.
-->
<form id="ToPass" class="blue">
	<p id="Entrance">Вход в систему</p>
	Логин<br>
	<input type="text" name="Login" id="Login1" /><br><br>
	Пароль<br>
	<input type="password" name="Pass" id="Password1" /><br><br>
	<input type="button" name="Sub" Value="Войти" id="Sub1" onclick="Enters()" />
</form>
</div>
</body>
</html>