body {
position: absolute;
margin:0;
width: 100vw;
height:100vh;
background: #555;
font-family: "Arial";
}
.grid {
	display:grid;
}
.grid.grid-100p {
	position: relative;
	background-color: #7799FF;
	align-items: start;
	max-height: 80%;
}
.grid.grid-10p {
	position: relative;
	background-color: #7799FF;
	align-items: start;
	padding-top: 0.2%;
	padding-bottom: 0.8%;
	height: 10%;
}
.scrollY {
	overflow-y:auto;
}
.grid.grid-9 {
	grid-template-columns: repeat(9,1fr);
}
.grid.grid-10 {
	grid-template-columns: repeat(10,1fr);
}
.grid.grid-11 {
	grid-template-columns: repeat(11,1fr);
}
.grid.grid-12 {
	grid-template-columns: repeat(12,1fr);
}
.grid.grid-13 {
	grid-template-columns: repeat(13,1fr);
}
.grid.grid-9 > * {
	border: 3px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	background-color: #8F8F8F;
}
.grid.grid-10 > * {
	border: 3px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	background-color: #8F8F8F;
}
.grid.grid-11 > * {
	border: 3px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	background-color: #8F8F8F;
}
.grid.grid-12 > * {
	border: 3px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	background-color: #8F8F8F;
}
.grid.grid-12 > *:focus {
	border: 3px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	background-color: #8F8F8F;
	outline: 3px ridge lime;
}
.grid.grid-13 > * {
	border: 3px solid #DDDDDD;
	padding: 5px;
	width: 100%;
	font-family: "Arial";
	background-color: #8F8F8F;
}
.grid.grid-2 {
	grid-template-columns: 0.2fr 1fr;
}

.grid.grid-3 {
	grid-template-columns: 0.15fr 0.7fr 0.05fr;
}
.gap {
	gap: 1%;
}
.grid.gap-50,
.flex.gap-50 {
	gap: 5%;
}
#Tables {
	background-color: #BBBBFF;
	border: 3px dotted #555;
}
#Tables > *:hover:not(.active) {
 	background-color: #2299FF;
 	cursor: pointer;
}
.TblSection {
	font-size: 150%;
	font-family: "Bookman Old Style";
}
.flex {
	grid-row: 4;
}
.flex > * {
	border: 3px solid #4499FF;
	background-color: #7799FF;
	color: #000000;
	font-size: 150%;
	font-family: "Bookman Old Style";
	cursor: pointer;
}
.flex > *:hover:not(.active) {
	border: 3px solid #AAAAAA;
	background-color: #2299FF;
	color: #555555;
}
.flex > *:active {
	border: 3px solid #AAAAAA;
	background-color: #2299FF;
	color: #000000;		
}
.active {
	background-color: #AAFFAA;
}
.main {
	grid-template-rows: 0.01fr 0.05fr 0.01fr 0.05fr 0.63fr 0.2fr;
}
.right {
	margin: auto 0 auto auto;
	grid-row: 2;
}
.right > *  {
	font-size: 150%;
	border: 3px solid #AAAAAA;
	background-color: #7799FF;
	color: #000000;
	cursor: pointer;
}
.right > *:hover:not(.active)  {
	background-color: #2266FF;
}
#switcher-table {
	grid-row: 4;
	grid-template-rows: 0.05fr 0.95fr;
}
#BtnTbl {
	color: #FFFFFF;
}
